section#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.field-container {
    width: 60%;
    max-width: 800px;
    margin: 1rem 0;
}

label {
    font-weight: bold;
}

vscode-text-area {
    width: 100%;
    display: block;
}

vscode-text-field {
    width: 100%;
    display: block;
}

[name="add-type-button"] {}

div#field-grid {
    display: flex;
    align-items: center
}

div#field-grid vscode-button {
    margin-left: 1rem;
}

vscode-tag {
    margin: 0.25rem
}

vscode-tag {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

vscode-tag button {
    margin-left: 0.5rem;
    cursor: pointer;
    opacity: 0.75;
}

vscode-tag button:hover {
    opacity: 0.5
}

div#selected-file-types-list {
    margin: 1rem 0;
}

ul#skip-path-list {
    padding: 0;
    margin: 1rem 0;
}

ul#skip-path-list>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 0rem;
}

ul#skip-path-list>li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

ul#skip-path-list>li>button {
    cursor: pointer;
    opacity: 0.75;
}

ul#skip-path-list>li>button:hover {
    opacity: 1
}